@model IEnumerable<UsingRepository.Core.Models.OrderDetail>

@{
    ViewBag.Title = "title";
}

<h2 class="alert alert-warning">title</h2>
<table class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Comments</th>
            <th>Product Name</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var orderDetail in Model)
      {
          <tr>
              <td>@orderDetail.Quantity</td>
              <td>@orderDetail.Comments</td>
              <td>@orderDetail.Product.Name</td>
          </tr>
      }
    </tbody>
</table>
