@{
	ViewBag.Title = "Forgot Password Confirmation";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forget Password</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.png")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Login.css" rel="stylesheet" />
</head>
<body>
<main>
    <div class="wrapper">
        <div class="login">
            <div class="log-right">
                <h2>Forget Password Confirmation</h2>
                <p>Please check your email to reset your password.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
