<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test8test8-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://test8test8-001-site1.itempurl.com:8172/MsDeploy.axd?site=test8test8-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>test8test8-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>test8test8-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5006.site4now.net;Initial Catalog=DB_A670BD_Products;User ID=DB_A670BD_Products_admin;Password=elbatal_123" Name="Data Source=SQL5006.site4now.net;Initial Catalog=DB_A670BD_Products;User Id=DB_A670BD_Products_admin;Password=elbatal_123;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UsingRepository.Persistence.HeroContext, UsingRepository" MigrationConfiguration="UsingRepository.Migrations.Configuration, UsingRepository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5006.site4now.net;Initial Catalog=DB_A670BD_Products;User Id=DB_A670BD_Products_admin;Password=elbatal_123;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>